.wrapper {
	display: grid;
	grid-template-columns: 100% 100% 100%;
	grid-template-rows: 100% 100% 100%;
	grid-gap: 200px;
	max-width: 100%;
	max-height: 100%;
}

.box {
	padding: 25px;
	background-color: rgb(225, 228, 228);
}

.header {
	margin-left: 50px;
	margin-top: 30px;
}
