$white: white;

.search-button {
	border-color: $white;
	font-style: $white;
}
.body-container {
	background: rgb(247, 244, 244);
	position: relative;
	height: 100%;
	width: 100%;
}
.menu-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0% 15% 0% 15%;

	h4 {
		margin: 50px 0px 10px 0px;
		color: black;
	}
	h1 {
		margin: 30% 0 0 0;
		align-self: center;
		color: #333232;
	}
}
.empty-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	h1 {
		margin: 300px auto 0% auto;
		align-self: center;
	}
}
.menu-buttons {
	text-transform: none;
	width: 100%;
}

.small-names {
	font-size: 12;
	font-weight: 400;
}
