@import 'config';

.search-button {
	border-color: $primary-color;
	font-style: $primary-color;
}

.assessments-title {
	margin-top: 17px;
	line-height: normal;

	a {
		color: $primary-color;
	}
}

.body-container {
	background: $secondary-background-color;
	position: relative;
	height: 100%;
	width: 100%;
}

.toolbar {
	background: $primary-color !important;
	padding: 0 !important;

	&-item {
		flex: 1;

		&-content {
			margin-left: 7%;
			line-height: 1;
		}
	}
	&-separator {
		margin: 0 !important;
		height: auto !important;
	}
}

.menu-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;

	h4 {
		margin: 50px 0px 10px;
	}
	h1 {
		margin: 30% 0;
	}

	.menu-toolbar-separator {
		height: 1px !important;
	}
}

.empty-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	h1 {
		margin: 300px auto;
	}
}
.menu-buttons {
	text-transform: none;
	width: 100%;

	button {
		height: 50px !important;
		text-align: start !important;

		div {
			height: 55px !important;
		}
		span {
			position: absolute !important;
			padding: 9px 8px;
		}
	}
	label {
		font-size: 15px;
		text-transform: none;
	}
	svg {
		float: right;
		margin: 15px 0;
	}
}
