.title {
	margin-top: 10px;
	font-size: 25px;
	font-weight: 500px;
}

.search-box {
	width: 200px;
	color: white;
}

.sub-title {
	font-size: small;
	font-weight: 500px;
}

@media (max-width: 768px) {
	.title {
		font-size: 18px;
		margin-top: 15px;
	}
}
