@import 'config';

.wrapper {
	background-color: $secondary-background-color;
	height: 130vh;
}

.grid-box {
	padding: 2%;
	overflow-x: hidden;
	flex-direction: row;
}

.header {
	margin-left: 50px;
	margin-top: 30px;
}
