@import 'config';

.count {
	margin: 20px;
}

.react-grid-Container {
	width: 100%;
}

.react-grid-Grid {
	padding-bottom: 0px;
	margin-bottom: 0px;
	background: $secondary-background-color;
	border: none;
}

.react-grid-Header {
	left: 60%;
	outline: none;
	box-shadow: none;
	background: $secondary-background-color;
}

.react-grid-HeaderCell {
	position: absolute;
	width: 140px;
	border: none;
	font-weight: 500;
	background: $secondary-background-color;
}
.react-grid-Main {
	outline: 0px;
	background: $secondary-background-color;
	border: none;
}
.react-grid-Canvas {
	background: $secondary-background-color;
}
.panel {
	margin: 10px;
}
.panel-body {
	padding: 0px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: flex-start;
	svg {
		fill: $primary-color !important;
	}
}
.img-container {
	position: relative;
	float: left;
}
.panel-image {
	display: block;
	height: 100px;
	width: 100px;
}
.panel-details {
	padding-left: 20px;
	align-self: center;
}
.panel-radio {
	position: absolute;
	align-self: center;
	right: 11%;

	label {
		margin: 0px;
	}

	input[type=radio] {
		margin-left: 120px;
		border: 0px;
		width: 20px;
		height: 2.1em;
	}
}

.list-icon-menu {
	position: absolute !important;
	top: 0;
	left: 70px;
	height: 30px;
	width: 30px;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	background-color: #100f0f99;
}

.morevert-icon {
	position: absolute;
	top: 1px;
	left: 2px;
}

@media only screen and (max-width: 1024px) {
	.panel-radio {
		right: 10%;
		input[type=radio] {
			margin-left: 110px;
		}
	}

	.react-grid-Header {
		left: 44%;
	}
}

@media only screen and (max-width: 768px) {
	.panel-radio {
		right: 8%;
		input[type=radio] {
			margin-left: 110px;
		}
	}

	.react-grid-Header {
		left: 32%;
	}
}
