.search-button {
  border-color: white;
  font-style: white;
}

.assessments-title {
  margin-top: 17px;
  line-height: normal;
}

.assessments-title a {
  color: white;
}

.body-container {
  background: #e1e4e4;
  position: relative;
  height: 100%;
  width: 100%;
}

.toolbar {
  background: white !important;
  padding: 0 !important;
}

.toolbar-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.toolbar-item-content {
  margin-left: 7%;
  line-height: 1;
}

.toolbar-separator {
  margin: 0 !important;
  height: auto !important;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.menu-container h4 {
  margin: 50px 0px 10px;
}

.menu-container h1 {
  margin: 30% 0;
}

.menu-container .menu-toolbar-separator {
  height: 1px !important;
}

.empty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.empty-container h1 {
  margin: 300px auto;
}

.menu-buttons {
  width: 100%;
}

.menu-buttons button {
  height: 50px !important;
  text-align: start !important;
}

.menu-buttons button div {
  height: 55px !important;
}

.menu-buttons button span {
  text-transform: none !important;
  position: absolute !important;
  padding: 9px 8px;
}

.menu-buttons label {
  font-size: 15px;
  text-transform: none;
}

.menu-buttons svg {
  float: right;
  margin: 15px 0;
}
