.wrapper {
  background-color: #e1e4e4;
  height: 130vh;
}

.grid-box {
  padding: 2%;
  overflow-x: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  margin-left: 50px;
  margin-top: 30px;
}
