.search-button {
  border-color: white;
  font-style: white;
}

.assessments-title {
  margin-top: 17px;
  line-height: normal;
}

.assessments-title a {
  color: white;
}

.body-container {
  background: #e1e4e4;
  position: relative;
  height: 100%;
  width: 100%;
}

.toolbar {
  background: white !important;
  padding: 0 !important;
}

.toolbar-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.toolbar-item-content {
  margin-left: 7%;
  line-height: 1;
}

.toolbar-separator {
  margin: 0 !important;
  height: auto !important;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.menu-container h4 {
  margin: 50px 0px 10px;
}

.menu-container h1 {
  margin: 30% 0;
}

.menu-container .menu-toolbar-separator {
  height: 1px !important;
}

.empty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.empty-container h1 {
  margin: 300px auto;
}

.menu-buttons {
  width: 100%;
}

.menu-buttons button {
  height: 50px !important;
  text-align: start !important;
}

.menu-buttons button div {
  height: 55px !important;
}

.menu-buttons button span {
  text-transform: none !important;
  position: absolute !important;
  padding: 9px 8px;
}

.menu-buttons label {
  font-size: 15px;
  text-transform: none;
}

.menu-buttons svg {
  float: right;
  margin: 15px 0;
}

.header {
  margin: 20px;
  font-size: 15px;
}

.header-right {
  float: right;
  font-weight: 600;
}

.header-right .navigation {
  fill: #9e9b9b !important;
}

.header-right button {
  float: right;
  padding: 0 5px !important;
  height: 24px !important;
  width: 24px !important;
}

.header-left {
  font-weight: 500;
}

.react-grid-Container {
  width: 100%;
}

.react-grid-Grid {
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: #e1e4e4;
  border: none;
}

.react-grid-Header {
  left: 60%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e1e4e4;
}

.react-grid-HeaderCell {
  position: absolute;
  width: 140px;
  border: none;
  font-weight: 500;
  background: #e1e4e4;
}

.react-grid-Main {
  outline: 0px;
  background: #e1e4e4;
  border: none;
}

.react-grid-Canvas {
  background: #e1e4e4;
}

.panel {
  margin: 10px;
}

.panel-body {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.panel-body svg {
  fill: white !important;
}

.img-container {
  position: relative;
  float: left;
}

.panel-image {
  display: block;
  height: 100px;
  width: 100px;
}

.panel-details {
  padding-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.panel-radio {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 11%;
}

.panel-radio .inputGroup {
  display: inline;
}

.panel-radio .inputGroup label {
  margin-left: 125px;
  display: inline;
  position: relative;
}

.panel-radio .inputGroup label:before {
  border-radius: 50%;
  content: '';
  background-color: white;
  position: absolute;
  z-index: -1;
}

.panel-radio .inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: 2px 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.panel-radio .inputGroup input:checked ~ label {
  color: #fff;
}

.panel-radio .inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.panel-radio .inputGroup input:checked ~ label:after {
  background-color: #00ff22;
  border-color: #00ff22;
}

.panel-radio .inputGroup input {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  visibility: hidden;
}

.list-icon-menu {
  position: absolute !important;
  top: 0;
  left: 70px;
  height: 30px;
  width: 30px;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #100f0f99;
}

.morevert-icon {
  position: absolute;
  top: 1px;
  left: 2px;
}

@media only screen and (max-width: 1024px) {
  .panel-radio label::after {
    right: 0;
  }
  .react-grid-Header {
    left: 44%;
  }
}

@media only screen and (max-width: 768px) {
  .panel-radio {
    right: 6%;
  }
  .panel-radio label {
    margin-left: 130px !important;
  }
  .react-grid-Header {
    left: 32%;
  }
}

.menu-button {
  width: 100%;
  height: 60px;
  fill: #f0f0f0 !important;
}

.menu-button button {
  height: 60px !important;
  text-align: start !important;
  background-color: #f0f0f0 !important;
}

.menu-button span {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #4d4a4a !important;
  text-transform: none !important;
}

.menu-button .navigation-expand {
  float: right;
  margin-right: 10px !important;
  height: 30px !important;
  width: 30px !important;
  fill: #8b8787 !important;
}

.menu-toolbar-separator {
  height: 1px !important;
}

.sample2-heading {
  position: absolute;
  margin: 18px;
  font-size: 20px;
  font-weight: 600;
}

.icon-buttons {
  float: right;
  right: 15px;
}

.icon-buttons .navigation {
  margin: 0px !important;
  fill: #8f8b8b !important;
  height: 30px !important;
  width: 30px !important;
}
